.mini-menu{
    max-width: 198px;
    margin: 0px auto;
    font: normal 14px Helvetica, Arial, sans-serif;
    margin-top: 10px;
}
ul {
    list-style: none;
    margin: 0;
    padding:0;
    text-align:left;
}
.mini-menu > ul {
    margin-bottom: 0px;
    border: 1px solid #222;
    box-shadow:0 0 10px #000;
}
.mini-menu > ul > li {
    position: relative;
}
.mini-menu > ul > li > a {
    display: block;	
    outline: 0;	
    padding: .7em 1em;	
    text-decoration: none;	
    color:#C9C9C9;	
    font-weight: normal;	
    text-shadow: 1px 1px 3px #111;	
    background: #333;	
    box-shadow:inset 0 1px 0 0 rgba(250,250,250,0.1);	
    background-image:linear-gradient(#444, #333);	
    background-image:-ms-linear-gradient(#444, #333);
    border-bottom: 1px solid #222;
}
.mini-menu > ul > li > a:hover{
    color:#f2bd00;
}
.mini-menu > ul > li > ul {
    counter-reset: items;
    height: 0;
    overflow: hidden;
    background: #eee;
    color: #777;
    font-size: .75em;
    box-shadow:inset 0 0 50px #BBB;
}
.mini-menu > ul > li > ul > li{
    counter-increment: items;
    padding: .5em 1.3em;
    border-bottom: 1px dotted #C9C9C9;
}
.mini-menu > ul > li > ul > li:hover{
    background: #ccc;
}
.mini-menu > ul > li > ul > li > a{
    color:#514B92;
    text-decoration: none;
}
.mini-menu > ul > li > ul > li > a:hover{
    color:red;
    margin-left: 8px;
}
.mini-menu > ul > li > ul > li > a:after{
    content: "»";
    float: left;
    margin-right:4px;
}
.mini-menu > ul > li > ul:after {
    content: counter(items);
    font-size: 0.857em;
    display:inline-block;
    position: absolute;
    right: 10px;
    top: 15px;
    background: #333;
    line-height: 1em;
    padding: .7em .8em;
    margin: -.9em 0 0 0;
    color: white;
    text-indent: 0;
    text-align: center;
    text-shadow:0px 1px 0px rgba(0, 0, 0, .5);
    font-weight: 500;
    border-radius:.769em;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
}